// Flickity based carousel grid

$tablet: 1023px;
$mobile: 767px;

.andyp-grid {

    position: relative;
    
    &__header {
        color: #757575;

        &-tax {
            font-size: 18px;
            color: #E86546;
            margin-left: 10px;
        }

        .mdi {
            width: 29px;
            height: 29px;
        }
    }

    &__main-carousel {  
        height: 203px;
    }

    form {
        position: relative;
    }

    &__last-ran {
        position: absolute;
        top: 14px;
        right: 320px;
        color: #FCC53B;
        font-size: 12px;
    }

    // Each cell item
    &__cell {
        display: initial;
        position: relative;
        width: 20%;
        padding-right: 20px; 
        counter-increment: carousel-cell;

        &-link {
            text-decoration: none; 
            display: block;
            color: #242424; 
            position: relative;
            // margin-bottom: 29px;
            background-size: 120px;
            // background-color: #FAFAFA;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 185 120' %3E%3Cg id='ldnpk' fill='rgb(224, 224, 224)' %3E%3Cpath d='M24,24 L24,96 L106,96 L60,24 L24,24 Z M78,24 L125,96 L161,96 L161,24 L78,24 Z' id='ldnpk' /%3E%3C/g%3E%3C/svg%3E");
        
            &:hover {

                .andyp-grid__cell-overlay {
                    opacity:1;
                }

                .andyp-grid__cell-title {
                    color: #53A5E3;
                    transition: all 0.2s ease-in;   
                }  
            }
        }

        &-overlay {
            position: absolute;
            height: 100%;
            background: rgb(0, 0, 0, 0.5);
            width: 100%;
            overflow: hidden;
            padding: 20px;
            transition: all 0.3s ease-in;  
            opacity:0;
            color: #FAFAFA;

            .andyp-grid__cell-icon {
                position: relative;
                width:58px;
                height:58px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        // Each piece of meta-data
        &-meta {
            line-height: 29px;
        }

        &-image {
            border-radius: 5px;
            height: 145px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &-title {
            color: #fff;
            height: 58px;
            padding-top: 29px;
            line-height: 19px;
            overflow: hidden;
            position: absolute;
            bottom: 0px;
            width: 100%;
            padding-left:35px;
            border-radius: 5px;
        }

        &-excerpt {
            max-height:116px;
            overflow: hidden;
        }

        &-date {
            font-size: 14px;
            color: #D0C8B3;
            position: absolute;
            bottom: 0px;
            right: 10px;
            padding: 0px 5px;
        }
        
        &-icon {
            position: absolute;
            bottom: 5px;
            left: 10px;
            color: #fff;
            width: 19px;
            height: 23px;
        } 

        &-count { 
            font-size: 14px;
            color: #D0C8B3;
            position: absolute;
            bottom: 0px;
            right: 10px;
        }

        &-tax {
            position: absolute;
            right: 50%;
            top: 50%;
            border-radius: 20px;
            padding: 0px 10px;
            font-size: 12px;
            line-height: 18px; 
            color: #242424;
            transform: translate(50%, -58px);
        }
        &-admin {
            position: relative;
            float: right;
            display: flex;

            &--delete {
                margin-right:10px;
            }
        }
        &-button {
            &--delete {
                position: absolute;
                top: 14px;
                right: 160px;
            } 
            &--highlight {
                position: absolute;
                top: 14px;
                right: 230px;
            }
        }

    }

    .flickity-prev-next-button {
        top: -29px;
        width: 24px;
        height: 24px;
        background-color: #E0E0E0; 
        color: #fff;

        &.previous {
            right: 100px;
            left: initial;
        }

        &.next {
            right: 60px;
        }
        &:hover {
            background-color: #53A5E3;
        }
    }

}

// Change widths on tablet.
@media (max-width: $tablet) {
    .andyp-grid {  

        // Make the grid only 2xCells wide
        &__cell {
            width: 50% !important;

            // Move the date to the top of the cell.
            &-date {
                top: 0px;
                bottom: initial;
                background: #242424;
            }
        }  
    }
}

// Change widths on tablet.
@media (max-width: $mobile) {
    .andyp-grid {  

        // Hide the taxonomy label because the left-right icons overlap.
        &__header-tax {
            display: none;
        }

        &__cell {
            width: 50% !important; 

            // Move title to bottom and make it clearer
            // black background and more visible.
            &-title {
                height: initial;
                color: #fff;
                position: absolute;
                bottom: 0px;
                width: 100%;
                padding-left: 35px;
                border-radius: 0px 0px 5px 5px;
                background: rgba(0,0,0,0.8); 
                padding: 15px 29px 14px 35px;

                // realign icon too.
                .andyp-grid__cell-icon {
                    bottom: 50%;
                    transform: translate(0,50%);
                }
            }
            
        }
    }
}